<nav>
<div class="mobile-content" onclick="toggleClass(this,'clicked')">
    <div class="mobile_page_title">{{pageTitle}}</div>
    <div class="menu">
    <svg width="45" height="45" viewBox="0 0 100 100">
        <path class="line top" d="M 20,30 H 80"/>
        <path class="line middle" d="M 20,50 H 80" />
        <path class="line bottom" d="M 20,70 H 80"/>
    </svg>
    </div>
    <div class="dropdownMenu">
        <a href="{{route('index')}}" class="menuLink">Home</a>
        <a href="{{route('music::catalog')}}" class="menuLink">Music</a>
        <a href="{{route('store::catalog')}}" class="menuLink">Store</a>
    </div>
</div>

</nav>
