.dashboard_item{
    width:90%;
    border:3px rgba(255, 255, 255, 0.553) solid;
    background-color: rgba(0, 0, 0, 0.409);
    padding:25px;
    font-family: 'Renner';
    text-align: left;
    border-radius: 15px;
    color:white;
    font-size: 200%;
    margin:10px;
}

.dashboard_link{
    text-decoration: none;
    cursor: pointer;
    width: 100vw;
}