.action_buttons{
    padding:25px;
    width:90%;

    .button{
        cursor: pointer;
        border-radius: 5px;
        height:27px;
        background-color: rgba(0, 99, 23, 0.349);
        border: solid 2px rgba(255, 255, 255, 0.536);
        color:rgba(255, 255, 255, 0.612);
        padding-left:33px;
        padding-right:33px;
        font-family: 'Renner';
        margin-bottom:25px;
        padding:15px;
    }
}
