body, html{
    margin:0px;
    padding:0px;
    font-family: 'Renner';
}

/* VISIBILITY */
.hidden{
    display:none !important;
}
.shown{
    display:block !important;
}
.visible{
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.invisible{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.main-content{
    max-height:100vh;
    width:100vw;
}

/* BACKGROUNDS */
.dan-back{
    background-image: url('https://raw.githubusercontent.com/isaacmcdgl/JSON/main/IsaacParker/images/backgrounds/dan-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    background-position-x: center;
}
.cb-back{
    background-image: url('https://raw.githubusercontent.com/isaacmcdgl/JSON/main/IsaacParker/images/backgrounds/cherryBlossomsBack.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    background-position-x: center;
}

.sd-back{
    background-image: url('https://raw.githubusercontent.com/isaacmcdgl/JSON/main/IsaacParker/images/backgrounds/sd-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    background-position-x: center;
}

.cn-back{
    background-image: url('https://raw.githubusercontent.com/isaacmcdgl/JSON/main/IsaacParker/images/backgrounds/cn-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    background-position-x: center;
}

.crl-back{
    background-image: url('https://raw.githubusercontent.com/isaacmcdgl/JSON/main/IsaacParker/images/backgrounds/crl-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    background-position-x: center;
}

.mw-back{
    background-image: url('https://raw.githubusercontent.com/isaacmcdgl/JSON/main/IsaacParker/images/backgrounds/mw-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    background-position-x: center;
}

/* ELEMENTS */
.scroll-view{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.main-content{
    width: 100vw;
    height: 100vh;
}


.x-scroll-container{
    width: 100%;
    height:100%;
    overflow-y: hidden;
    overflow-x: auto;
}
.scroll-x-view{
    width: 100%;
    height:100%;
    overflow-y: hidden;
    overflow-x: auto;
}

.scroll-y-view{
    width: 100%;
    height:100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.invisible{
    opacity: 0 !important;
}

.visible, .slowload{
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.background video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    filter:brightness(70%)
}

.background{
    min-width: 100%;
    min-height: 100%;
    position: absolute;
}

.mobile_content, .desktop_content{
    position: fixed;
    z-index: 10;
}