body, html{
    margin:0px;
    padding:0px;
    font-family: 'Renner';
}

$navHeight:50px;
$navColor:rgba(0, 0, 0, 0.584);

/* VISIBILITY */
.hidden{
    display:none !important;
}
.shown{
    display:block !important;
}
.visible{
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.invisible{
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.main-content{
    max-height:100vh;
    width:100vw;
}

/* BACKGROUNDS */
.dan-back{
    background-image: url('https://raw.githubusercontent.com/isaacmcdgl/JSON/main/IsaacParker/images/backgrounds/dan-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    background-position-x: center;
}
.cb-back{
    background-image: url('https://raw.githubusercontent.com/isaacmcdgl/JSON/main/IsaacParker/images/backgrounds/cherryBlossomsBack.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    background-position-x: center;
}

.sd-back{
    background-image: url('https://raw.githubusercontent.com/isaacmcdgl/JSON/main/IsaacParker/images/backgrounds/sd-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    background-position-x: center;
}

.cn-back{
    background-image: url('https://raw.githubusercontent.com/isaacmcdgl/JSON/main/IsaacParker/images/backgrounds/cn-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    background-position-x: center;
}

.crl-back{
    background-image: url('https://raw.githubusercontent.com/isaacmcdgl/JSON/main/IsaacParker/images/backgrounds/crl-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    background-position-x: center;
}

.mw-back{
    background-image: url('https://raw.githubusercontent.com/isaacmcdgl/JSON/main/IsaacParker/images/backgrounds/mw-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:center;
    background-position-x: center;
}

/* ELEMENTS */
.scroll-view{
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}
.mobile_content, .desktop_content{
    padding-top:$navHeight;
}


.main-content{
    width: 100vw;
    height: 100%;
}

.x-scroll-container{
    width: 100%;
    height:100%;
    overflow-y: hidden;
    overflow-x: auto;
}
.scroll-x-view{
    width: 100%;
    height:100%;
    overflow-y: hidden;
    overflow-x: auto;
}

.scroll-y-view{
    width: 100%;
    height:100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.invisible{
    opacity: 0 !important;
}

.visible, .slowload{
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.background video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    filter:brightness(70%)
}

.background{
    min-width: 100vw;
    min-height: 100vh;
    top:0px;
    left:0;
    position: absolute;
}

.mobile_content, .desktop_content{
    position: fixed;
    z-index: 10;
}

//NAVIGATION
nav{
    height: $navHeight;
    width:100vw;
    z-index:1000;
    position:fixed;
    background-color:$navColor;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.82);
}

nav .menu{
    float: right;
    cursor: pointer;
}

.line {
    stroke-width: 6;
    stroke-linecap: round;
    stroke: #ffffff;
    transition: all 500ms;
  }
  
  .top {
    transform-origin: 26px 40px;
  }
  
  .middle {
    stroke-dasharray: 60 60;
  }
  
  .bottom {
    transform-origin: 26px 60px;
  }
  
  .menu.clicked .line {
    stroke: #a3a3a3;
  }
  
  .menu.clicked .top {
    transform: rotate(45deg);
  }
  
  .menu.clicked .middle {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
  }
  
  .menu.clicked .bottom {
    transform: rotate(-45deg);
  }

  .dropdownMenu{
    max-height: 0px;
    overflow-y: hidden;
    transition: height .5s ease-in-out;
    display: flex;
    left:0;
    width:100vw;
    flex-direction: column;
    background-color: $navColor;
  }
  .menu.clicked ~ .dropdownMenu{
     max-height:100vh;
     overflow-y: auto;
     transition: max-height .8s ease-in-out;
  }

  .dropdownMenu a.menuLink{
      font-size: 3rem;
      color:white;
      font-family: 'RennerLight';
      font-weight: lighter;
      margin:20px;
      cursor:pointer;
      text-decoration: none;
  }

  a.menuLink:hover{
      opacity: .6;
  }