{% set pageTitle = "Order" %}
{% set pageBackLink = false %}
{% set customFooter = false %}

{% extends "_layout/site.twig" %}

{% block content %}
<div class="background sd-white-back">
    <div class="mobile_content back-white">
        <div class="y-scroll-div full_screen_scroll_footer">
            <div class="flex-column">

            </div>
        </div>
    </div>
</div>
{% endblock %}