{% if customFooter == false %}
<div class="footer product-buttons flex-row">
    <a href="{{route('admin::login')}}" class="noLinkStyles"><p>© I.E.M.G 2022 | All Rights Reserved</p></a>
</div>
{% endif %}

<script src="{{ asset('js/main.js') }}"></script>